<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="{% url 'home' %}" id="home-link">
                HOME
            </a>

        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="#" id="topics-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TOPICS {{ topic.name }}
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="topic-links">
              
                {% for topic in topic_list %}
                    <a href="/topic/{{ topic.name }}"
                        class="dropdown-item nav-color">{{ topic.name|title }}
                    </a>
                {% endfor %}
              
            </div>

        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="#" id="nhs-api"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LATEST INFO FROM NHS
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold  nav-link nav-color mr-5" href="#" id="about-us-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>

    </ul>
</div>