<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="{% url 'home' %}" id="home-link">
                HOME
            </a>

        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="#" id="topics-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"aria-label="Topic">
                TOPICS {{ topic.name }}
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="topic-links">

                {% for topic in topic_list %}
                <a href="/topic/{{ topic.name }}" class="dropdown-item nav-color" aria-label="{{ topic.name }}">{{ topic.name }}
                </a>
                {% endfor %}

            </div>

        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="{% url 'govukdata' %}" aria-label=" latest statics">
                LATEST STATISTICS
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link nav-color mr-5" href="{% url 'aboutus' %}" aria-label=" about us">
                ABOUT US
            </a>
        </li>


    </ul>
</div>