{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% providers_media_js %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container login-form">
  <h1 class="header-style bg-color-primary txt-color text-center">
    {% trans "Sign In" %}
  </h1>
  <div class="form-border">
    <form class="mb2" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="Action" href="{% url 'account_reset_password' %}">
        {% trans "Forgot Password?" %}</a>
      <button class="btn btn-secondary ml-3 pl-5 pr-5 mb-2" type="submit">
        {% trans "Sign In" %}</button>

    </form>
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <div class="or-seperator"><i>or</i></div>
    <p class="text-center">
      {% blocktrans with site.name as site_name %}Login with your social media account</p>

    {% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% endif %}

  </div>
</div>

{% endblock %}