{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container col-lg-8 col-md-10">
    <h4 class="header-style header-title-color">
        {% trans "Password Reset" %}</h4>
    <div class="form-border">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <span>{% trans "Forgotten your password? Enter your e-mail address below,"%}</span>
        <span>{% trans "and we'll send you an e-mail allowing you to reset it." %}</span>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-secondary" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
        <br>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting
            your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}