{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container col-lg-8 col-md-10">
    <h4 class="header-style header-title-color">{% trans "Set Password" %}</h4>
    <div class="form-border">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-secondary" type="submit" name="action" value="{% trans 'Set Password' %}" />
        </form>
    </div>
</div>
{% endblock %}