{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container col-lg-8 col-md-10">
    <h4 class="header-style header-title-color"> About us</h4>
    <div class="mb-2">
        <div class="card mb-2 mt-2 ">
            <div class="card-body px-2 pt-2 rounded">
                <p>The Coronavirus Forum is a rapidly expanding inclusive 
                    engagement platform to pool & share information, tips 
                    and advice, create opinion polls, interact and find 
                    support and official NHS resources and information 
                    regarding the new novel virus, Covid 19</p>
                <h5>Talk Topics:</h5>

                <ol class="ml-5">
                    <li>Children and Coronavirus for parents, guardians 
                        and carers of children</li>
                    <li>HCP Chat for healthcare professionals</li>
                    <li>General Coronavirus Chat for anyone</li>
                </ol>
                <p>
                    Please note, the views of the contributors are their 
                    own in the context of sharing information and should 
                    not be taken as professional advice, we can’t monitor, 
                    review, or verify all information posted by our 
                    contributors.</p>
                <p>We do not moderate or qualify healthcare professionals.</p>
                <p>Our professional moderators enforce our talk guidelines 
                    and review all content reported to us. Our community is 
                    governed by our talk guidelines.</p>
                <p>Please also remember that this is a fast-moving situation, 
                    and it is recommended, therefore, that you check with 
                    reliable sources direct for official and accurate 
                    information.</p>
                <p>For Official UK Government data as recorded by Public 
                    Health England, such as daily cases, cumulative cases, 
                    daily deaths and cumulative deaths, visit our "Latest 
                    Statistics" and input chosen dates.</p>
                <p>For up-to-date government guidelines
                    <a 
                    href="https://www.gov.uk/coronavirus"
                    target="_blank"
                    rel="noreferrer" aria-label="Gov.uk Coronavirus page (opens in new tab)"
                    title="Government guidelines "><i></i>
                    Click here
                    </a>
                </p>
                <p>For up-to-date NHS help and support 
                    <a 
                    href="https://www.nhs.uk/conditions/coronavirus-covid-19/"
                    target="_blank" rel="noreferrer"
                    aria-label="NHS help and support page (opens in new tab)"
                    title="NHS help and support"><i></i>
                    Click here
                    </a>
                </p>
                <p> If you have any health concerns consult with a medical 
                    professional, and if you require urgent medical assistance
                     dial 999.</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}