{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Corona Virus Forum</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">
    {% include 'navbar.html' %}


    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="ft-container">
            <div class="row mx-auto ft-center">
                <div class="col-3 txt-color">
                    <a href="#" class="txt-color">Talk Guidelines </a>
                    
                </div>
                <div class="col-3 txt-color">
                    <a href="#"class="txt-color">Contact Us</a>
                </div>
                <div class="col-6 mt-2">
                    <a href="https://www.twitter.com" target="_blank" rel="noreferrer"
                        aria-label="Go to our twitter page (opens in new tab)" title="twitter"><i
                            class="fab fa-twitter fa-2x txt-color"></i></a>
                    <a href="https://www.youtube.com" target="_blank" rel="noreferrer"
                        aria-label="Go to our youtube page (opens in new tab)" title="youtube"><i
                            class="fab fa-youtube fa-2x txt-color"></i></a>
                    <a href="https://www.instagram.com" target="_blank" rel="noreferrer"
                        aria-label="Go to our instagram page (opens in new tab)" title="instagram"><i
                            class="fab fa-instagram fa-2x txt-color"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>