{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container col-lg-8 col-md-10">
    <h4 class="header-style header-title-color"> Contact us</h4>
    <div class="form-border">
        {% if username %}
        <div>
            <h2>Thanks {{ username }}</h2>
            <p>We received your email and will respond shortly...</p>
        </div>
        <br /><br /><br />
        {% else %}
        <form class="mb2" method="post">
            {% csrf_token %}
            <div class="row">

                {% if slug %}
                <p class="col-lg-12">
                    <input type="text" name="message-subject-display" value="Report post: {{ slug }}"
                        class="form-control mb-30" placeholder="Subject">
                </p>
                {% else %}
                <p class="col-lg-12">
                    <input type="text" name="message-subject" class="form-control mb-30" placeholder="Subject">
                </p>
                {% endif %}
                <p class="col-lg-12">
                    <input type="email" name="message-email" value="{{email}}" class="form-control mb-30"
                        placeholder="Your Email">
                </p>

                <p class="col-12">
                    <textarea name="message"  class="form-control text-area pb-5"
                        placeholder="Your Message"></textarea>
                </p>
                <p class="col-12">
                    <button type="submit" class="btn btn-secondary">Send Message</button>
                </p>

            </div>
        </form>
        {% endif %}

    </div>
</div>

{%endblock%}