{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
  <p class="header-paragraph header-title-color justify-content-center">
    The Coronavirus Forum, an inclusive engagement platform to pool & share information, tips and advice, create opinion
    polls, interact and find support and official NHS resources and information.
  </p>
</div>

<hr>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner text-center">
    <div class="carousel-item active ">
      <img src="{% static 'images/carousel_1.jpg' %}" alt="carousel image 1" class="rounded">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel_2.jpg' %}" alt="carousel image 2" class="rounded">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel_3.jpg' %}" alt="carousel image 3" class="rounded">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev" aria-label="Click to goto previous carousel image">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next" aria-label="Click to goto next carousel image">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<hr>

<!-- Latest posts -->
<div class="container col-lg-8 col-md-10">
  <h4 class="header-style header-title-color">Latest posts</h4>
  {% for post in latest_posts %}
    <div class="card mb-2 mt-2 card-post">
      <div class="card-body px-2 pt-2">
        <a href="{% url 'postdetail' post.pk %}" class="card-links rounded" aria-label="Go to post">
          <h5 class="post-color">{{ post.title | safe | title}}</h5>
        </a>
        <hr>
       
        <h6 class="post-details-color">
        {% if post.enable_voting %}
          <strong>VOTE</strong>
        {% endif %}
          <i class="far fa-comment"></i>
          <span class="mr-1">{{post.comment_post.count}} </span>
          
          <span class="mr-2"> Posted by {{post.user_name}}</span>
          <span class="mr-2"> Created {{post.created|timesince }} ago</span>
        </h6>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}