{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="header-style bg-color-primary txt-color">
  <p>
    The Coronavirus Forum, an inclusive engagement platform to pool & share information, tips and advice, create opinion
    polls, interact and find support and official NHS resources and information.
  </p>
</div>

<hr>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/carousel_1.jpg' %}" alt="carousel image 1" width="550" height="250">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel_2.jpg' %}" alt="carousel image 2" width="550" height="250">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel_3.jpg' %}" alt="carousel image 3" width="550" height="250">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<hr>

<!-- Latest posts -->
<div>

</div>
<div class="container">
  <h1 class="header-style bg-color-primary txt-color ">Latest posts</h1>
  {% for post in latest_posts %}
  <div class="card mb-1">
    <div class="card-body">
      <a href="{% url 'postdetail' post.pk %}">
      <h4 class="card-title">{{ post.title }}</h4>
      </a>
      <hr>
      <h6> 22 Comments Created {{ post.created }}</h6>

    </div>
  </div>
  {% endfor %}

</div>

{%endblock%}