{% load static %}


<!-- Header -->
<header class="container-fluid fixed-top background-white">
    <!-- Navbar -->
    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/covid_logo1.png' %}" style="width:40px;"
                    class="logo logo-font text-black my-0" alt="website logo">
            </a>
        </div>

        <!-- Search area -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="#">
                <div class="input-group w-100">
                    <label for="search" hidden>Search</label>
                    <input class="form-control border border-black rounded-0" type="text" id="search" name="q"
                        placeholder="Enter search criteria">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0 green-btn" type="submit"
                            value="search">Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- My account -->
        <div class="col-12 col-lg-5 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
               

                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Logout</a>
                
                        <a href="#" class="dropdown-item">Register</a>
                        <a href="#" class="dropdown-item">Login</a>
                 
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Mobile and main nav area -->
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/nav-menu.html' %}
        </nav>
    </div>
   

</header>


