{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container col-lg-8 col-md-10">
    {% if query %}
        <h4 class="header-style header-title-color"> Search: {{ query|title }}</h4>
    {% else %}
        <h4 class="header-style header-title-color"> Topic: {{ topic }}</h4>
        <div class="mb-2">
            {% if user.is_authenticated %}
                <div class="card mb-2 mt-2 card-post">
                    <div class="card-body px-2 pt-2 rounded">
                        <h6>
                            <a href="{% url 'addpost' topic %}" class="post-color card-links" aria-label="Create a new post"> -> Start a new post within this
                                topic</a>
                        </h6>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
   
    {% for post in post_list %}
        <div class="card mb-2 mt-2 card-post ">

            <div class="card-body px-2 pt-2 rounded">
                <a href="{% url 'postdetail' post.id %}" class="card-links" aria-label="Go to post">
                <h5 class="post-color">{{ post.title|title }}</h5>
                </a>
                <hr>
                <div class="post-details-color">
                    {% if post.enable_voting %}
                        <strong>VOTE</strong>
                    {% endif %}
                    <i class="far fa-comment"></i>
                    <span class="mr-1">{{post.comment_post.count}} </span>
                    <span class="mr-2"> Posted by {{post.user_name}}</span>
                    <span class="mr-2"> Created {{post.created|timesince }} ago</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% include 'pagination.html' %}

{% endblock %}