{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Create a new post {% endblock %}
{% block content %}

<div class="container">
    <div class="row mx-auto justify-content-center">
        <div class="col-md-10 col-sm-12">
            <h4 class="header-style bg-color-primary txt-color"> Topic: {{ topic }}</h4>
            <div class="background-color-secondary mb-2 pl-2 pt-1 pb-1 justify-content-center">
                {% if user.is_authenticated %}
                <div class="col-12">
                    <h6> Add your post here
                        <a href="#" class="txt-color-secondary pl-5 "> Talk guidelines</a>
                    </h6>
                    <div class="form-group">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                    </div>
                </div>
                {% else %}
                <h4>You are not logged in</h4>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{%endblock%}