{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Content is used from https://www.mumsnet.com/i/netiquette -->

<div class="container col-lg-8 col-md-10">
    <h4 class="header-style header-title-color">Talk guide lines</h4>
    <div class="mb-2">
        <div class="card mb-2 mt-2 ">
            <div class="card-body px-2 pt-2 rounded">
                <p>The coronavirus forum is not a pre-moderated platform. It is not possible to review all information
                    posted by contributors and we try to keep intervention to a minimum to enable flexible interaction.
                </p>
                <p>That said, our goal is to keep the forum a safe and friendly experience, it may become necessary for
                    us to use our discretion to delete posts (or ban posters)</p>
                <ul class="ml-5">
                    <li>No personal attack</li>
                    <li>No trolling, misleading or deliberately inflammatory behaviour</li>
                    <li>No trollhunting</li>
                    <li>No spamming</li>
                    <li>No trollhunting</li>
                </ul>
                <p>
                    You can report any of the above to us using the report button above each post.</p>
                <p>Remember, we do not pre-moderate posts. We rely on our contributors to let us know about any posts
                    that break our Guidelines. </p>

                <h5>General Ps and Qs</h5>
                <p>We'd appreciate it if you could treat others as you would wish to be treated yourself, we all need
                    moral support.</p>
                <p>As mentioned, our moderators occasionally have to make discretionary decisions to delete posts based
                    on context, tone and circumstance - please respect their decisions and treat them civilly.

                <h5>Post deletions </h5>
                <p>We'll remove posts we consider to contain personal attacks, to break the law and/or to be obscene,
                    racist, sexist, disablist, ageist, homophobic or transphobic, once they are brought to our
                    attention. We will also delete any posts that we think are just seriously unpleasant (please note
                    that any subsequent posts repeating the words in the deleted post may be deleted, too).</p>

                <p>If a whole thread is deleted, please don't start a new one repeating and/or rehashing everything
                    that's been deleted.</p>

                <h5>Swearwords and offensive language</h5>
                <p>It's not our policy to delete swearwords, but we do draw the line at obscenity, racist, ageist,
                    disablist, homophobic or transphobic language, and wording that is truly awful.</p>

                <h5>Posting links and spamming</h5>
                <p>We have no problem with people posting the odd link to other sites/blogs that other posters might
                    find
                    useful or interesting. But we'll delete anyone's attempts to spam the boards with links, as a way of
                    promoting their own product, services, survey or e-petition, as it annoys our members.</p>

                <h5>Deleting a thread, you have started</h5>
                <p>We don't encourage whole thread deletion; it's frustrating for those who've taken the time to write
                    responses to see them removed. That said, if you have a pressing reason for wanting a thread you
                    started to be deleted, please go ahead and delete.</p>
                <h5> Trolls and troublemakers</h5>
                <p>Unfortunately, from time to time, we are visited by trolls, for whom friendly supportive chat is not
                    on the agenda.</p>
                <p>If you suspect someone of being a troll, please don't trollhunt (accuse them publicly on the
                    discussion thread). If you're wrong, you could cause untold hurt; if you're right, you'll merely be
                    giving them the kind of attention they're after.</p>

                <p>Instead, report your suspicions to us and we'll check them out.</p>
                <p>As we set out in our privacy policy, we do not, as a rule, pass on any of the information you have
                    registered with us, unless you specifically consent to us doing so or we are specifically required
                    to by law. However, on rare occasions where there appears to be a clear need to safeguard the
                    welfare of a contributor and/or his/her family, it may be necessary to contact relevant authorities
                    about a clearly identifiable contributor and his/her posts on The Coronavirus Forum.</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}