  {% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="container col-lg-8 col-md-10 form-border">
  {% if process == "connect" %}
    <h4 class="header-style header-title-color">
      {% blocktrans with provider.name as provider %}Connect
      {{provider}}{% endblocktrans %}
    </h4>
    <div class="form-border">
      <p>{% blocktrans with provider.name as provider %}
        You are about to connect a new third party account from
        {{ provider}}.{% endblocktrans %}</p>
    </div>
  {% else %}
    <div >   
      <h4 class="header-style header-title-color">
        {% blocktrans with provider.name as provider %}Sign In Via
        {{ provider }}{% endblocktrans %}</h4>

      <p>{% blocktrans with provider.name as provider %}
        You are about to sign in using a third party account from
        {{ provider }}.{% endblocktrans %}</p>
    </div> 
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <button class="btn btn-secondary mb-2" type="submit">{% trans "Continue" %}</button>
  </form>
   
</div>
{% endblock %}