{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<div class="container login-form">
    <h1 class="header-style bg-color-primary txt-color">{% trans "Login Cancelled" %}</h1>

    <div class="form-border">{% url 'account_login' as login_url %}
        <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was
            a
            mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}