{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="container login-form">
  {% if process == "connect" %}
  <h1 class="header-style bg-color-primary txt-color">
    {% blocktrans with provider.name as provider %}Connect 
    {{provider}}{% endblocktrans %}
  </h1>
  <div class="form-border">
    <p>{% blocktrans with provider.name as provider %}
      You are about to connect a new third party account from 
      {{ provider}}.{% endblocktrans %}</p>
    {% else %}
    <h1 class="header-style bg-color-primary txt-color">
      {% blocktrans with provider.name as provider %}Sign In Via 
      {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}
      You are about to sign in using a third party account from 
      {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <button class="btn btn-secondary" type="submit">{% trans "Continue" %}</button>
    </form>
  </div>
</div>
{% endblock %}